.backupbuddy-recent-activity-details {
	word-wrap: initial;
	width: 100%;
	height: 90px;
	font-family: Andale Mono, monospace;
}
.backupbuddy-recent-activity-details::-webkit-scrollbar {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 11px;
	height: 11px;
}
.backupbuddy-recent-activity-details::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgb(0, 0, 0 );
	background-color: rgba(0, 0, 0, .5);
}

#toplevel_page_pb_backupbuddy_backup .wp-menu-image{
	background-image:url('../images/icon_menu_16x16.png');background-size:16px 16px;background-position:6px 5px !important;
}
#toplevel_page_pb_backupbuddy_backup.wp-has-current-submenu .wp-menu-image{
	background-image:url('../images/icon_menu_16x16.png');
}
@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
	#toplevel_page_it-exchange .wp-menu-image{
		background-image:url('../images/icon_menu_32x32.png');background-size:16px 16px;background-position:6px 5px !important;
	}
	#toplevel_page_pb_backupbuddy_backup.wp-has-current-submenu .wp-menu-image{
		background-image:url('../images/icon_menu_32x32.png');
	}
}

@font-face {
	font-family: 'backupbuddy';
	src:url('fonts/backupbuddy.eot');
	src:url('fonts/backupbuddy.eot?#iefix') format('embedded-opentype'),
		url('fonts/backupbuddy.ttf') format('truetype'),
		url('fonts/backupbuddy.woff') format('woff'),
		url('fonts/backupbuddy.svg#backupbuddy') format('svg');
	font-weight: normal;
	font-style: normal;
}

.backupbuddy-tabs-wrap .nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
}
.backupbuddy-icon-drive:before {
	font-family: 'backupbuddy' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\e600" !important;
}


.backupbuddy-progressbar {
	position: relative;
	height: 1em !important;
	padding: 1px !important;
}
.backupbuddy-progressbar-label {
	position: absolute;
	left: 50%;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	margin-left: -15px;
	font-size: 0.7em;
    top: -2px;
}
.backupbuddy-progressbar .ui-progressbar-value {
	height: 100%;
	background: #3A87AD;
	background: rgba(58, 135, 173, 0.3);
}

/*
.pb_form tr.advanced-toggle {
	border-left: 6px solid #eee;
}
.pb_form th.advanced-toggle {
	padding-left: 12px;
}
*/


.widefat .check-column {
	padding: 15px 3px 15px;
}

.pb_backupbuddy_alert.error {
	background-color: #ffcad3;
}

.ithemes-updater-products h3.subtitle,
#ithemes-updater-settings h3.subtitle {
	font-size: 23px;
    line-height: 30px;
    margin: 1.5em 0 .5em;
    padding: 0 0 0 35px;
}

.ithemes-updater-listing.widefat tfoot td input[type="text"],
.ithemes-updater-listing.widefat tfoot td input[type="password"] {
	padding: 5px 10px;
	margin: 0 8px 0 0;
}

.ui-widget.ui-slider-horizontal {
	padding:  0;
	line-height: 1.2em;
}

.itbub-edits-summary::after {
	clear: both;
	display: table;
	content: '';
}
.itbub-edits-summary .itbub-summary-item {
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 16px;
	background-color: #b1eaff;
	color: #3a3939;
	border-bottom: 3px solid #7fb9ce;
	border-radius: 3px;
	padding: 16px 26px;
	font-size: 18px;
	cursor: pointer;
	transition: border-color 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.itbub-edits-summary .itbub-summary-item .itbub-count {
	font-size: 26px;
	position: relative;
	top: 2px;
	margin-right: 4px;
	font-weight: 200;
}
.itbub-edits-summary .itbub-summary-item.itbub-active {
	background-color: #2ea2cc;
	border-color: #277693;
	color: #fff;
	border-bottom-width: 2px;
	margin-bottom: 17px;
}

.itbub-edit-group {
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: all 200ms ease-in-out;
}

.itbub-edit-group.itbub-active {
	visibility: visible;
	opacity: 1;
	max-height: none;
	margin-bottom: 16px;
}

.itbub-edit-group table.widefat {
	background-color: #eee;
}
.itbub-edit-group table.widefat thead th {
	border-color: #757575;
}
.itbub-edit-group table.widefat tbody td {
	border-bottom: 1px solid #c7c7c7;
}
.itbub-edit-group table.widefat tbody tr:last-child td {
	border-bottom: 0;
}
.itbub-edit-group .itbub-modified-count {
	border-radius: 100%;
	padding: 1px 3px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #c7c7c7;
	font-size: 9px;
	min-width: 13px;
	text-align: center;
	line-height: 17px;
	cursor: default;
}
.itbub-edit-group .itbub-timestamp {
	width: 160px;
}
